<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title th:text="#{site.headline.create}">Bootstrap Admin Theme v3</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link crossorigin="anonymous" href="../static/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/static/css/bootstrap.min.css}">
    <link href="../static/css/bootstrap-icons.css" rel="stylesheet" th:href="@{/static/css/bootstrap-icons.css}">
    <script src="../static/js/jquery.min.js" th:src="@{/static/js/jquery.min.js}"></script>
    <script src="../static/js/bootstrap-markdown.js" th:src="@{/static/js/bootstrap-markdown.js}"></script>
    <script src="../static/js/showdown.min.js" th:src="@{/static/js/showdown.min.js}"></script>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
</head>
<style>
    .md-editor .dropdown-menu li {
        cursor: pointer;
    }

    img {
        max-width: 100%;
    }

    .date-time {
    }
</style>
<body>

<div class="col" th:fragment="popular">
    <div class="card shadow-sm bg-body-tertiary">
        <div class="card-body">
            <h4 th:text="#{letter.headline.popular}">The most popular letters</h4>
            <p class="card-text" th:text="#{letter.headline.popular.text}">List of letters with the most reads</p>
            <hr/>
            <div>
                <a aria-current="true" class="list-group-item list-group-item-action active py-3 lh-sm"
                   th:each="letter: ${mostPopularLetters}" th:href="@{/l/{id}(id=${letter.letterShortCode})}">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <div><strong th:text="#{letter.title}+':'">Title:</strong> <span
                                th:text="${letter.title} =='' ? #{letter.without_title} : ${letter.title}">Sergei</span>
                        </div>
                        <small><i class="bi bi-calendar2"> </i><strong class="date-time" th:text="${letter.created}">2023-12-11
                            10:38</strong></small>
                    </div>
                    <div class="mb-1 small" th:text="${letter.message}">Hello my dear friend pedroHello my dear friend
                        pedro...
                    </div>
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <div><strong th:text="#{letter.author}+':'">Author:</strong> <span
                                th:text="${letter.author} =='' ? #{letter.author_unknown} : ${letter.author}">Sergei</span>
                        </div>
                        <small><i class="bi bi-eye"> </i>
                            <span th:text="${letter.countVisits}">183</span></small>
                    </div>
                </a>
            </div>

        </div>

    </div>
</div>
<script src="../../static/js/bootstrap.bundle.min.js" th:src="@{/static/js/bootstrap.bundle.min.js}"></script>

</body>
</html>