<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title th:text="#{site.headline.create}">Friend's letter</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != '') {
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });
</script>

<style>
    .form-control {
        margin-bottom: 13px
    }

    .parent {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        overflow: auto;
        background-color: aliceblue;
    }
</style>
<div class="parent">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4 well well-sm">
                <legend><a th:href="@{/}"><i class="glyphicon glyphicon-home"></i></a> Friend's letter</legend>
                <div class="text-danger"
                     th:if="${getLetterErrorMessage}" th:text="${getLetterErrorMessage}"></div>

                <div>
                    <form action="#" class="form" method="post" role="form" th:action="@{/}" th:object="${letter}">
                <textarea class="form-control" cols="25" placeholder="Start writing..."
                          required="required" th:placeholder="#{letter.start_writing}"
                          rows="9" th:field="*{message}"></textarea>
                        <div class="text-danger" th:errors="*{message}" th:if="${#fields.hasErrors('message')}"></div>

                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <label>
                                    <input class="form-check-input" th:field="*{singleUse}" th:value="#{letter.burn}"
                                           type="checkbox"/>
                                    <span th:text="#{letter.burn}">Burn after reading</span>
                                </label>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <label>

                                    <input class="form-check-input"
                                           th:field="*{publicLetter}" type="checkbox"/>
                                    <span th:text="#{letter.public}">Make letter public</span>
                                </label>
                            </div>
                        </div>
                        <label th:text="#{letter.set_expiry_date}">Set expiration date if you want</label>
                        <div class="row">
                            <div></div>
                            <div class="col-xs-6 col-md-6">
                                <label>
                                    <input th:field="*{expirationDate}" type="datetime-local"/>
                                </label>
                            </div>
                            <div class="col-xs-6 col-md-6" th:text="*{timezone}">
                            </div>

                            <label>
                                <input th:field="*{timezone}" type="hidden">
                            </label>
                        </div>
                        <div class="text-danger" th:errors="*{expirationDate}"
                             th:if="${#fields.hasErrors('expirationDate')}"></div>

                        <div>
                            <button class="btn btn-lg btn-primary btn-block" th:text="#{letter.generate_url}"
                                    type="submit">Get url
                            </button>
                        </div>
                    </form>
                    <select id="locales" style="margin-top: 10px">
                        <option th:text="#{lang.change}" value=""></option>
                        <option th:text="#{lang.eng}" value="en"></option>
                        <option th:text="#{lang.fr}" value="fr"></option>
                        <option th:text="#{lang.ru}" value="ru"></option>
                    </select>

                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
