<!DOCTYPE html>
<html lang="eng" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Letter for you</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<script>
    function copyToBuffer() {
        copyToClipboard(document.getElementById("urlToLetter").textContent);
    }

    async function copyToClipboard(textToCopy) {
        // Navigator clipboard api needs a secure context (https)
        if (navigator.clipboard && window.isSecureContext) {
            await navigator.clipboard.writeText(textToCopy);
        } else {
            // Use the 'out of viewport hidden text area' trick
            const textArea = document.createElement("textarea");
            textArea.value = textToCopy;

            // Move textarea out of the viewport so it's not visible
            textArea.style.position = "absolute";
            textArea.style.left = "-999999px";

            document.body.prepend(textArea);
            textArea.select();

            try {
                document.execCommand('copy');
            } catch (error) {
                console.error(error);
            } finally {
                textArea.remove();
            }
        }
    }

</script>
<style>
    .form-control {
        margin-bottom: 13px
    }

    .parent {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        overflow: auto;
        background-color: aliceblue;
    }
</style>
<body>
<div class="parent">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4 well well-sm">

                <legend><a th:href="@{/}"><i class="glyphicon glyphicon-home"></i></a> Friend's letter</legend>
                <div th:object="${letter}">
                    <label>Letter available by url:</label>
                    <p>
                        <span id="urlToLetter" th:text="${requestURI} + '/' + *{letterShortCode}"></span>
                        <button onclick="copyToBuffer()">Copy url</button>
                    </p>

                    <textarea class="form-control" cols="25" disabled placeholder="Start writing..." required="required"
                              rows="9" th:field="*{message}"></textarea>

                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            Created
                        </div>
                        <div class="col-xs-6 col-md-6">
                            Expire date
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6" th:text="*{#temporals.format(created,'dd-MM-yyyy HH:mm')} ">
                        </div>
                        <div class="col-xs-6 col-md-6"
                             th:text="*{#temporals.format(expirationDate,'dd-MM-yyyy HH:mm')} ">
                        </div>
                    </div>


                    <div>
                        <a th:href="@{/}">Create one more letter!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>