<!DOCTYPE html>
<html>
<head>
    <title th:text="#{site.headline.read}">Letter for you</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="../static/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/static/css/bootstrap.min.css}">
    <link href="../static/css/bootstrap-icons.css" rel="stylesheet" th:href="@{/static/css/bootstrap-icons.css}">
    <script src="../static/js/jquery.min.js" th:src="@{/static/js/jquery.min.js}"></script>
    <script src="../static/js/bootstrap-markdown.js" th:src="@{/static/js/bootstrap-markdown.js}"></script>
    <script src="../static/js/showdown.min.js" th:src="@{/static/js/showdown.min.js}"></script>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <script src="../static/js/created.js" th:src="@{/static/js/created.js}"></script>
</head>
<style>
    .md-editor .dropdown-menu li {
        cursor: pointer;
    }

    img {
        max-width: 100%;
    }

    .date-time {
    }

</style>
<body>
<div class="container-md" th:replace="~{fragments/header.html::header}">
</div>
<div class="container-xxl">

    <div class="album py-5 bg-body">

        <div class="row row-cols-1 row-cols-xl-2 row-cols-lg-2 g-3">
            <div class="col">
                <div class="card shadow-sm bg-body-tertiary">
                    <div class="mb-3">
                        <div class="card-body">
                            <h4 th:text="#{letter.info}">Letter info</h4>
                            <p class="card-text" th:text="#{letter.info.text}">This is some info about letter.</p>
                            <a th:href="@{/u/{id}(id=${letter.letterShortCode})}" th:if="${itIsOwner != null}">Update
                                letter</a>
                            <hr/>
                            <div th:replace="~{fragments/general_fragments.html::letter_info}">
                            </div>
                            <a th:href="@{/}" th:text="#{letter.create_you_own}">Create your own letter</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm bg-body-tertiary">
                    <div class="card-body">
                        <h4 th:text="#{letter.for_you}">This letter is for you</h4>
                        <hr/>
                        <div id="md_preview" th:text="${letter.message}">
                            <H1>Letter text</H1>
                            <p>Sone ipsum dollar</p>
                            <br/>
                            <p>Sone ipsum dollar</p>
                            <p>Sone ipsum dollar</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col" th:replace="~{fragments/popular.html::popular}">
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer.html::footer}">
</footer>

<script src="../static/js/bootstrap.bundle.min.js" th:src="@{/static/js/bootstrap.bundle.min.js}"></script>
</body>
</html>